<div class="space-y-4 mb-8">
    <a href="#" class="link-card block rounded-xl p-3 flex items-center">
        <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white bg-opacity-30 mr-4">
            <i class="fab fa-twitter text-xl"></i>
        </div>
        <div class="text-left flex-1">
            <h3 class="font-semibold text-lg">Twitter</h3>
            <p class="text-sm opacity-90">Follow me for updates</p>
        </div>
        <i class="fas fa-chevron-right opacity-70"></i>
    </a>

    <a href="#" class="link-card block rounded-xl p-3 flex items-center">
        <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white bg-opacity-30 mr-4">
            <i class="far fa-envelope text-xl"></i>
        </div>
        <div class="text-left flex-1">
            <h3 class="font-semibold text-lg">Mail</h3>
            <p class="text-sm opacity-90">Contact me via email</p>
        </div>
        <i class="fas fa-chevron-right opacity-70"></i>
    </a>
    
    <a href="#" class="link-card block rounded-xl p-3 flex items-center">
        <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white bg-opacity-30 mr-4">
            <i class="fab fa-instagram text-xl"></i>
        </div>
        <div class="text-left flex-1">
            <h3 class="font-semibold text-lg">Instagram</h3>
            <p class="text-sm opacity-90">See my daily life</p>
        </div>
        <i class="fas fa-chevron-right opacity-70"></i>
    </a>
    
    <a href="#" class="link-card block rounded-xl p-3 flex items-center">
        <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white bg-opacity-30 mr-4">
            <i class="fab fa-linkedin-in text-xl"></i>
        </div>
        <div class="text-left flex-1">
            <h3 class="font-semibold text-lg">LinkedIn</h3>
            <p class="text-sm opacity-90">Professional profile</p>
        </div>
        <i class="fas fa-chevron-right opacity-70"></i>
    </a>
    
    <a href="#" class="link-card block rounded-xl p-3 flex items-center">
        <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white bg-opacity-30 mr-4">
            <i class="fab fa-github text-xl"></i>
        </div>
        <div class="text-left flex-1">
            <h3 class="font-semibold text-lg">GitHub</h3>
            <p class="text-sm opacity-90">My open-source projects</p>
        </div>
        <i class="fas fa-chevron-right opacity-70"></i>
    </a>
    
    <a href="#" class="link-card block rounded-xl p-3 flex items-center">
        <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white bg-opacity-30 mr-4">
            <i class="fab fa-youtube text-xl"></i>
        </div>
        <div class="text-left flex-1">
            <h3 class="font-semibold text-lg">YouTube</h3>
            <p class="text-sm opacity-90">Tutorials & content</p>
        </div>
        <i class="fas fa-chevron-right opacity-70"></i>
    </a>

    <!-- Use the following html to add more links. Make use of fontawesome for more icons. -->

    <!-- <a href="#" class="link-card block rounded-xl p-3 flex items-center">
        <div class="w-10 h-10 rounded-full flex items-center justify-center bg-white bg-opacity-30 mr-4">
            <i class="far fa-envelope text-xl"></i>
        </div>
        <div class="text-left flex-1">
            <h3 class="font-semibold text-lg">YouTube</h3>
            <p class="text-sm opacity-90">Tutorials & content</p>
        </div>
        <i class="fas fa-chevron-right opacity-70"></i>
    </a> -->

</div>