<div class="info-box rounded-xl p-1 mb-2 theme-border-1 mt-8">
    <h3 class="font-bold theme-text-1 text-lg mb-3 flex items-center justify-center">
        <i class="fab fa-spotify mr-2"></i>Listen To My Spotify Playlist
    </h3>
    <div class="bg-white/10 border border-white/30 rounded-2xl p-4 backdrop-blur-lg shadow-md mt-6">
        <!-- Replace this iframe embed with your playlist embed. Right click on your playlist, then click share and select embed. Select compact mode and copy your embed playlist. Replace it with the line below. -->
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6zcsSLDrLiCpX8KDzNiIhS?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"loading="lazy"></iframe>
      </div>
</div>    